@import 'tailwindcss';
@import 'tw-animate-css';
@import './theme.css';

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
  html {
    @apply overflow-x-hidden;
  }
  body {
    @apply bg-background text-foreground has-[div[data-variant='inset']]:bg-sidebar min-h-svh w-full;
  }

  /* Override Radix scroll locking for sticky headers */
  body[data-scroll-locked] {
    overflow: unset !important;
  }

  /* Cursor pointer for buttons */
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  /* Prevent focus zoom on mobile devices */
  @media screen and (max-width: 767px) {
    input,
    select,
    textarea {
      font-size: 16px !important;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility faded-bottom {
  @apply after:pointer-events-none after:absolute after:start-0 after:bottom-0 after:hidden after:h-32 after:w-full after:rounded-b-2xl after:bg-[linear-gradient(180deg,_transparent_10%,_var(--background)_70%)] md:after:block;
}

/* styles.css */
.CollapsibleContent {
  overflow: hidden;
}
.CollapsibleContent[data-state='open'] {
  animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state='closed'] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
:root {
  --background: oklch(0.9873 0.0262 102.2125);
  --foreground: oklch(0.3231 0.0701 69.7978);
  --card: oklch(0.9869 0.0214 95.2774);
  --card-foreground: oklch(0.3231 0.0701 69.7978);
  --popover: oklch(0.9869 0.0214 95.2774);
  --popover-foreground: oklch(0.3231 0.0701 69.7978);
  --primary: oklch(0.5265 0.1151 44.6044);
  --primary-foreground: oklch(0.9869 0.0214 95.2774);
  --secondary: oklch(0.9029 0.0292 77.5344);
  --secondary-foreground: oklch(0.3231 0.0701 69.7978);
  --muted: oklch(0.9414 0.0279 70.9414);
  --muted-foreground: oklch(0.4742 0.0754 62.8101);
  --accent: oklch(0.9153 0.0277 67.4704);
  --accent-foreground: oklch(0.3231 0.0701 69.7978);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9873 0.0262 102.2125);
  --border: oklch(0.8221 0.0504 76.0235);
  --input: oklch(0.9153 0.0277 67.4704);
  --ring: oklch(0.5265 0.1151 44.6044);
  --chart-1: oklch(0.5265 0.1151 44.6044);
  --chart-2: oklch(0.7054 0.1235 59.6230);
  --chart-3: oklch(0.8038 0.1460 75.2572);
  --chart-4: oklch(0.4349 0.1052 57.0001);
  --chart-5: oklch(0.6435 0.1169 60.9276);
  --sidebar: oklch(0.9636 0.0328 106.9994);
  --sidebar-foreground: oklch(0.3231 0.0701 69.7978);
  --sidebar-primary: oklch(0.5265 0.1151 44.6044);
  --sidebar-primary-foreground: oklch(0.9636 0.0328 106.9994);
  --sidebar-accent: oklch(0.9153 0.0277 67.4704);
  --sidebar-accent-foreground: oklch(0.3231 0.0701 69.7978);
  --sidebar-border: oklch(0.8221 0.0504 76.0235);
  --sidebar-ring: oklch(0.5265 0.1151 44.6044);
  --font-sans: Epilogue, ui-sans-serif, sans-serif, system-ui;
  --font-serif: 'IBM Plex Serif', serif;
  --font-mono: 'IBM Plex Mono', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0.25rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.1;
  --shadow-color: #7a522c;
  --shadow-2xs: 0px 0.25rem 1rem 0rem hsl(29.2308 46.9880% 32.5490% / 0.05);
  --shadow-xs: 0px 0.25rem 1rem 0rem hsl(29.2308 46.9880% 32.5490% / 0.05);
  --shadow-sm: 0px 0.25rem 1rem 0rem hsl(29.2308 46.9880% 32.5490% / 0.10), 0px 1px 2px -1px hsl(29.2308 46.9880% 32.5490% / 0.10);
  --shadow: 0px 0.25rem 1rem 0rem hsl(29.2308 46.9880% 32.5490% / 0.10), 0px 1px 2px -1px hsl(29.2308 46.9880% 32.5490% / 0.10);
  --shadow-md: 0px 0.25rem 1rem 0rem hsl(29.2308 46.9880% 32.5490% / 0.10), 0px 2px 4px -1px hsl(29.2308 46.9880% 32.5490% / 0.10);
  --shadow-lg: 0px 0.25rem 1rem 0rem hsl(29.2308 46.9880% 32.5490% / 0.10), 0px 4px 6px -1px hsl(29.2308 46.9880% 32.5490% / 0.10);
  --shadow-xl: 0px 0.25rem 1rem 0rem hsl(29.2308 46.9880% 32.5490% / 0.10), 0px 8px 10px -1px hsl(29.2308 46.9880% 32.5490% / 0.10);
  --shadow-2xl: 0px 0.25rem 1rem 0rem hsl(29.2308 46.9880% 32.5490% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1654 0.0267 266.1989);
  --foreground: oklch(0.9873 0.0262 102.2125);
  --card: oklch(0.1761 0.0397 272.7428);
  --card-foreground: oklch(0.9873 0.0262 102.2125);
  --popover: oklch(0.2123 0.0356 278.0657);
  --popover-foreground: oklch(0.9873 0.0262 102.2125);
  --primary: oklch(0.6933 0.1896 38.2709);
  --primary-foreground: oklch(0.9873 0.0262 102.2125);
  --secondary: oklch(0.3156 0.0826 30.7040);
  --secondary-foreground: oklch(0.9873 0.0262 102.2125);
  --muted: oklch(0.2597 0.0457 273.8620);
  --muted-foreground: oklch(0.8221 0.0504 76.0235);
  --accent: oklch(0.2643 0.0303 39.2075);
  --accent-foreground: oklch(0.9873 0.0262 102.2125);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.1983 0.0225 72.1393);
  --border: oklch(0.2732 0.0623 278.8765);
  --input: oklch(0.2491 0.0540 284.9057);
  --ring: oklch(0.6933 0.1896 38.2709);
  --chart-1: oklch(0.5265 0.1151 44.6044);
  --chart-2: oklch(0.7054 0.1235 59.6230);
  --chart-3: oklch(0.8038 0.1460 75.2572);
  --chart-4: oklch(0.4349 0.1052 57.0001);
  --chart-5: oklch(0.6435 0.1169 60.9276);
  --sidebar: oklch(0.1829 0.0312 274.3136);
  --sidebar-foreground: oklch(0.9873 0.0262 102.2125);
  --sidebar-primary: oklch(0.5265 0.1151 44.6044);
  --sidebar-primary-foreground: oklch(0.9873 0.0262 102.2125);
  --sidebar-accent: oklch(0.2336 0.0348 278.4763);
  --sidebar-accent-foreground: oklch(0.9873 0.0262 102.2125);
  --sidebar-border: oklch(0.3437 0.0415 53.9861);
  --sidebar-ring: oklch(0.5265 0.1151 44.6044);
  --font-sans: Epilogue, ui-sans-serif, sans-serif, system-ui;
  --font-serif: 'IBM Plex Serif', serif;
  --font-mono: 'IBM Plex Mono', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0.25rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.3;
  --shadow-color: #0f0a05;
  --shadow-2xs: 0px 0.25rem 1rem 0rem hsl(30 50.0000% 3.9216% / 0.15);
  --shadow-xs: 0px 0.25rem 1rem 0rem hsl(30 50.0000% 3.9216% / 0.15);
  --shadow-sm: 0px 0.25rem 1rem 0rem hsl(30 50.0000% 3.9216% / 0.30), 0px 1px 2px -1px hsl(30 50.0000% 3.9216% / 0.30);
  --shadow: 0px 0.25rem 1rem 0rem hsl(30 50.0000% 3.9216% / 0.30), 0px 1px 2px -1px hsl(30 50.0000% 3.9216% / 0.30);
  --shadow-md: 0px 0.25rem 1rem 0rem hsl(30 50.0000% 3.9216% / 0.30), 0px 2px 4px -1px hsl(30 50.0000% 3.9216% / 0.30);
  --shadow-lg: 0px 0.25rem 1rem 0rem hsl(30 50.0000% 3.9216% / 0.30), 0px 4px 6px -1px hsl(30 50.0000% 3.9216% / 0.30);
  --shadow-xl: 0px 0.25rem 1rem 0rem hsl(30 50.0000% 3.9216% / 0.30), 0px 8px 10px -1px hsl(30 50.0000% 3.9216% / 0.30);
  --shadow-2xl: 0px 0.25rem 1rem 0rem hsl(30 50.0000% 3.9216% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}