@import 'tailwindcss';
@import 'tw-animate-css';
@import './theme.css';

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
  html {
    @apply overflow-x-hidden;
  }
  body {
    @apply bg-background text-foreground has-[div[data-variant='inset']]:bg-sidebar min-h-svh w-full;
  }

  /* Override Radix scroll locking for sticky headers */
  body[data-scroll-locked] {
    overflow: unset !important;
  }

  /* Cursor pointer for buttons */
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  /* Prevent focus zoom on mobile devices */
  @media screen and (max-width: 767px) {
    input,
    select,
    textarea {
      font-size: 16px !important;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility faded-bottom {
  @apply after:pointer-events-none after:absolute after:start-0 after:bottom-0 after:hidden after:h-32 after:w-full after:rounded-b-2xl after:bg-[linear-gradient(180deg,_transparent_10%,_var(--background)_70%)] md:after:block;
}

/* styles.css */
.CollapsibleContent {
  overflow: hidden;
}
.CollapsibleContent[data-state='open'] {
  animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state='closed'] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
:root {
  --background: oklch(0.9002 0.0376 98.7650);
  --foreground: oklch(0.2581 0.0303 70.1342);
  --card: oklch(0.9001 0.0357 92.8433);
  --card-foreground: oklch(0.2581 0.0303 70.1342);
  --popover: oklch(0.9001 0.0357 92.8433);
  --popover-foreground: oklch(0.2581 0.0303 70.1342);
  --primary: oklch(0.4601 0.0443 41.0200);
  --primary-foreground: oklch(0.9001 0.0357 92.8433);
  --secondary: oklch(0.8092 0.0212 74.6216);
  --secondary-foreground: oklch(0.2581 0.0303 70.1342);
  --muted: oklch(0.8452 0.0263 63.6832);
  --muted-foreground: oklch(0.4072 0.0293 58.6836);
  --accent: oklch(0.8223 0.0229 63.1412);
  --accent-foreground: oklch(0.2581 0.0303 70.1342);
  --destructive: oklch(0.5737 0.1080 18.0113);
  --destructive-foreground: oklch(0.9002 0.0376 98.7650);
  --border: oklch(0.7294 0.0278 71.0726);
  --input: oklch(0.8223 0.0229 63.1412);
  --ring: oklch(0.4601 0.0443 41.0200);
  --chart-1: oklch(0.4601 0.0443 41.0200);
  --chart-2: oklch(0.6054 0.0636 55.2041);
  --chart-3: oklch(0.6679 0.0811 73.3101);
  --chart-4: oklch(0.3464 0.0459 61.4257);
  --chart-5: oklch(0.5452 0.0466 59.4639);
  --sidebar: oklch(0.8676 0.0310 104.9930);
  --sidebar-foreground: oklch(0.2581 0.0303 70.1342);
  --sidebar-primary: oklch(0.4601 0.0443 41.0200);
  --sidebar-primary-foreground: oklch(0.8676 0.0310 104.9930);
  --sidebar-accent: oklch(0.8223 0.0229 63.1412);
  --sidebar-accent-foreground: oklch(0.2581 0.0303 70.1342);
  --sidebar-border: oklch(0.7294 0.0278 71.0726);
  --sidebar-ring: oklch(0.4601 0.0443 41.0200);
  --font-sans: Epilogue, ui-sans-serif, sans-serif, system-ui;
  --font-serif: 'IBM Plex Serif', serif;
  --font-mono: 'IBM Plex Mono', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0.25rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.1;
  --shadow-color: #56463a;
  --shadow-2xs: 0px 0.25rem 1rem 0rem hsl(25.7143 19.4444% 28.2353% / 0.05);
  --shadow-xs: 0px 0.25rem 1rem 0rem hsl(25.7143 19.4444% 28.2353% / 0.05);
  --shadow-sm: 0px 0.25rem 1rem 0rem hsl(25.7143 19.4444% 28.2353% / 0.10), 0px 1px 2px -1px hsl(25.7143 19.4444% 28.2353% / 0.10);
  --shadow: 0px 0.25rem 1rem 0rem hsl(25.7143 19.4444% 28.2353% / 0.10), 0px 1px 2px -1px hsl(25.7143 19.4444% 28.2353% / 0.10);
  --shadow-md: 0px 0.25rem 1rem 0rem hsl(25.7143 19.4444% 28.2353% / 0.10), 0px 2px 4px -1px hsl(25.7143 19.4444% 28.2353% / 0.10);
  --shadow-lg: 0px 0.25rem 1rem 0rem hsl(25.7143 19.4444% 28.2353% / 0.10), 0px 4px 6px -1px hsl(25.7143 19.4444% 28.2353% / 0.10);
  --shadow-xl: 0px 0.25rem 1rem 0rem hsl(25.7143 19.4444% 28.2353% / 0.10), 0px 8px 10px -1px hsl(25.7143 19.4444% 28.2353% / 0.10);
  --shadow-2xl: 0px 0.25rem 1rem 0rem hsl(25.7143 19.4444% 28.2353% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2081 0.0153 261.6011);
  --foreground: oklch(0.9002 0.0376 98.7650);
  --card: oklch(0.2052 0.0167 268.8291);
  --card-foreground: oklch(0.9002 0.0376 98.7650);
  --popover: oklch(0.2112 0.0139 278.7448);
  --popover-foreground: oklch(0.9002 0.0376 98.7650);
  --primary: oklch(0.6519 0.1947 35.1954);
  --primary-foreground: oklch(0.9002 0.0376 98.7650);
  --secondary: oklch(0.3513 0.0942 28.1871);
  --secondary-foreground: oklch(0.9002 0.0376 98.7650);
  --muted: oklch(0.2576 0.0153 274.2241);
  --muted-foreground: oklch(0.7294 0.0278 71.0726);
  --accent: oklch(0.2428 0.0111 27.5171);
  --accent-foreground: oklch(0.9002 0.0376 98.7650);
  --destructive: oklch(0.5737 0.1080 18.0113);
  --destructive-foreground: oklch(0.2206 0.0113 73.3341);
  --border: oklch(0.2770 0.0221 281.1111);
  --input: oklch(0.2522 0.0188 284.9750);
  --ring: oklch(0.5981 0.1023 34.9231);
  --chart-1: oklch(0.4601 0.0443 41.0200);
  --chart-2: oklch(0.6054 0.0636 55.2041);
  --chart-3: oklch(0.6679 0.0811 73.3101);
  --chart-4: oklch(0.3464 0.0459 61.4257);
  --chart-5: oklch(0.5452 0.0466 59.4639);
  --sidebar: oklch(0.2057 0.0143 272.5815);
  --sidebar-foreground: oklch(0.9002 0.0376 98.7650);
  --sidebar-primary: oklch(0.4601 0.0443 41.0200);
  --sidebar-primary-foreground: oklch(0.9002 0.0376 98.7650);
  --sidebar-accent: oklch(0.3093 0.0159 50.8484);
  --sidebar-accent-foreground: oklch(0.9002 0.0376 98.7650);
  --sidebar-border: oklch(0.3093 0.0159 50.8484);
  --sidebar-ring: oklch(0.4601 0.0443 41.0200);
  --font-sans: Epilogue, ui-sans-serif, sans-serif, system-ui;
  --font-serif: 'IBM Plex Serif', serif;
  --font-mono: 'IBM Plex Mono', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0.25rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.3;
  --shadow-color: #1f1914;
  --shadow-2xs: 0px 0.25rem 1rem 0rem hsl(27.2727 21.5686% 10% / 0.15);
  --shadow-xs: 0px 0.25rem 1rem 0rem hsl(27.2727 21.5686% 10% / 0.15);
  --shadow-sm: 0px 0.25rem 1rem 0rem hsl(27.2727 21.5686% 10% / 0.30), 0px 1px 2px -1px hsl(27.2727 21.5686% 10% / 0.30);
  --shadow: 0px 0.25rem 1rem 0rem hsl(27.2727 21.5686% 10% / 0.30), 0px 1px 2px -1px hsl(27.2727 21.5686% 10% / 0.30);
  --shadow-md: 0px 0.25rem 1rem 0rem hsl(27.2727 21.5686% 10% / 0.30), 0px 2px 4px -1px hsl(27.2727 21.5686% 10% / 0.30);
  --shadow-lg: 0px 0.25rem 1rem 0rem hsl(27.2727 21.5686% 10% / 0.30), 0px 4px 6px -1px hsl(27.2727 21.5686% 10% / 0.30);
  --shadow-xl: 0px 0.25rem 1rem 0rem hsl(27.2727 21.5686% 10% / 0.30), 0px 8px 10px -1px hsl(27.2727 21.5686% 10% / 0.30);
  --shadow-2xl: 0px 0.25rem 1rem 0rem hsl(27.2727 21.5686% 10% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}